<h1>About us:</h1>
<p>
    We came up with the idea of making one place where all of the people, interested in travelling,
    would have the ability to share their ideas for interesting destinations, offer
    to organize a trip themselves and in addition find new friends and make an amazing memories.
</p>
<ul>
    <li><label>Address: </label> Sofia, Street. San Stefano № 23, 2nd floor, ap.4</li>
    <li><label>Phone number: </label> 08846856342</li>
    <li><label>Email: </label> www.takeatrip@gmail.com</li>
</ul>
