<div class="container">
    <h1>Welcome to our site!</h1>
    <p>
        You want to take a trip to this amazing spot of the world you've found about couple of months ago,
    but you don't wanna go alone and be by yourself...
    </p>
    <p>
        So why not tell about this to others and organize your ideal trip? You need only few clicks to do so!
        And a registration which literaly needs only your e-mail and a password! Look on right!<br />
        Or just join any of our already offered trips!<br />
        A trip organized by people like you!<br />
    </p>
    Who look for
    <ol>
        <li>new places to visit</li>
        <li>new people to meet</li>
    </ol>
    And who had enough of the offers by the travel agencies!

    <h2>Trips Feed</h2>
    <p class="form-group" ng-repeat="trip in trips">
        <a href="{{trip.link}}">
            {{trip.name}} [{{trip.dateStart}} - {{trip.dateEnd}}]
        </a>
    </p>


</div>
