<div class="container">
    <h2>Organize View</h2>
    <form ng-submit="addTrip()" role="form">



        <div id="tabs">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#review">Review</a></li>
                <li><a href="#pictures">Pictures</a></li>
            </ul>
            <div id="about">
                <input type="text" ng-model="tripName" placeholder="Title" class="form-control">
                <input type="text" ng-model="tripDateStart" placeholder="Date From" id="datepicker-from" class="form-control">
                <input type="text" ng-model="tripDateEnd" placeholder="Date To" id="datepicker-to" class="form-control">
                <textarea ng-model="tripDescription" placeholder="Description" rows="4" cols="50"></textarea>
                <br />
            </div>
            <div id="review">
                <input type="text" ng-model="tripArea" placeholder="Area" class="form-control">
                <input type="text" ng-model="tripStartPoint" placeholder="Start Point" class="form-control">
                <input type="text" ng-model="tripStartPointLat" placeholder="Start Point Latitude" class="form-control">
                <input type="text" ng-model="tripStartPointLong" placeholder="Start Point Longtitude" class="form-control">

                <input type="checkbox" ng-model="tripRide" name="ride" value="yes">Organized ride<br>
            </div>
            <div id="pictures">
                Soon...
            </div>
        </div>



        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
    </form>

    <form ng-submit="clearAll()" role="form">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Clear All Trips">
        </span>
    </form>


    <script>
        $(function() {
            $( "#datepicker-from" ).datepicker();
            $( "#datepicker-to" ).datepicker();
        });

        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>
</div>
