
<div class="container">
    <h2>{{trip.name}}</h2>
    <h4>{{trip.dateStart}} - {{trip.dateEnd}}</h4>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    <div id="trip-tabs">

        <ul>
            <li><a href="#about">Basic Information</a></li>
            <li><a href="#details">Details</a></li>
        </ul>
        <div id="about">
            <label>Description: </label>
            {{trip.description}}
        </div>
        <div id="details">
            <div>
                <label>Area: </label>
                {{trip.area}}
            </div>

            <div>
                <label>Start Point: </label>
                {{trip.startPoint}}
            </div>

            <label id="latitude">{{trip.startPointLat}}</label>
            <label id="longtitude">{{trip.startPointLng}}</label>
            <input type="checkbox" ng-model="tripRide" name="ride" value="yes">Organized ride<br>
        </div>
    </div>

    <script>

        $(function() {
            $( "#datepicker-from" ).datepicker();
            $( "#datepicker-to" ).datepicker();
        });

        $(function() {
            $( "#trip-tabs" ).tabs();
        });
    </script>
</div>
